@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dosis&family=Inter:wght@700&family=Montserrat:wght@300&family=Mukta&family=Oxygen&family=Staatliches&family=Tilt+Warp&family=Work+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dosis&family=Montserrat:wght@300&family=Mukta&family=Oxygen&family=Staatliches&family=Tilt+Warp&family=Work+Sans:wght@500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bourbon@4.3.4/dist/bourbon.css");
body {
  background-color: rgb(14, 18, 24);
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
#btn {
  border: 2px solid transparent;
}
.login-body {
  font-family: "Poppins", sans-serif;
  width: 85%;
  height: auto;
}
.main-btn a {
  text-decoration: none;
  color: white;
}

.login {
  min-height: 500px;
  width: 60%;
  height: auto;
  position: absolute;
  left: 59%;
  top: 50%;
  display: flex;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #55be9b;
}

.main-login {
  width: 60%;
  height: auto;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgb(34, 42, 61);
}

@media only screen and (max-width: 1000px) {
  .main-login {
    width: 100%;
    border-radius: 5px;
  }
  .banner {
    display: none;
  }
  .main-login h1 {
    font-size: 25px;
  }
  .facebook {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .login {
    width: 100%;
    height: 100%;
  }

  .main-login {
    width: 100%;
    border-radius: 5px;
  }
  .banner {
    display: none;
  }
  .main-login h1 {
    font-size: 25px;
  }
  .facebook {
    font-size: 13px;
  }
}

.main-login h1 {
  color: #55be9b;
}

.put {
  max-width: 300px;
  width: 60%;
  height: 40px;
  color: rgb(26, 21, 21);
  background-color: rgb(234, 234, 234);
  outline: none;
  border-radius: 3px;
  margin: 0 auto;
  margin: 10px;
  padding-left: 10px;
  border: 2px solid transparent;
  transition: 0.4s;
}

.put:not(:placeholder-shown) > .sub {
  background-color: #55be9b;
  color: black;
}

.sub:hover {
  background-color: #55be9b;
  color: rgb(234, 234, 234);
}

.main-login .put:not(:placeholder-shown) {
  border-bottom: 2px solid #55be9b;
}

.sub {
  max-width: 310px;
  width: 62%;
  height: 40px;
  color: black;
  background-color: rgb(234, 234, 234);
  outline: none;
  border-radius: 3px;
  margin: 0 auto;
  margin: 10px;
  border: 2px solid transparent;
  transition: 0.4s;
  cursor: pointer;
}

.main-login input::placeholder {
  color: #55be9b8f;
}

.pass {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #3f9551;
  text-decoration: none;
  display: flex;
  width: fit-content;
  margin-left: 20%;
}
.content {
  background-color: rgb(34, 36, 49);
  min-height: calc(100vh - 13vh);
  color: white;
}
.shw {
  position: absolute;
  border-radius: 5px;
  z-index: 2;
  border: none;
  cursor: pointer;
  color: #c0c0c0;
  background-color: transparent;
  transform: translateX(-55px) translateY(22px);
}

.banner {
  width: 40%;
  height: 100%;
  text-align: center;
  color: aliceblue;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #55be9b;
  /* background-color: rgb(255, 189, 127); */
}

.banner h4 {
  width: 80%;
  z-index: 100 !important;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.p-b {
  color: #e5e5e5;
  margin-bottom: 3px;
  font-family: "Roboto", sans-serif;
}

.lines {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.line {
  width: 50px;
  height: 1px;
  margin: 5px;
  background-color: #e5e5e5;
}

.pp {
  margin-top: 10px;
}

.contain {
  z-index: 100 !important;
  position: absolute;
}
.top button a {
  text-decoration: none;
  color: #3f9551;
}
.google {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.facebook {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1778f2;
}

.logo2 {
  width: 40px;
  height: 100%;
  background-image: url("https://github.com/ixl-math/imgs/blob/main/facebook-7-512%20(2).png?raw=true");
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.logol {
  width: 40px;
  height: 100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png");
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.main-btn {
  width: 130px;
  padding: 10px;
  margin-top: 15px;
  color: aliceblue;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid aliceblue;
  background-color: transparent;
  transition: 0.4s;
}

.main-btn:hover {
  background-color: #75cd7e;
}

.top {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.top button {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.6s;
  color: #55be9b;
  background-color: transparent;
  border: 3px solid transparent;
  outline: none;
}

.top button:hover {
  border-bottom: 3px solid #55be9b;
}

.blob:nth-child(1) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  z-index: 1;
  border-top-left-radius: 100%;
  background-color: #75cd7e;
}

.blob:nth-child(2) {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 1;
  border-bottom-right-radius: 100%;
  background-color: #75cd7e;
}
/* Navbar Css */
.Navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 13vh;
  background-color: rgb(34, 36, 49);
  color: white;
}
.Search-bar {
  justify-self: center;
  align-self: center;
}
.Menu {
  align-self: center;
  display: flex;
  align-items: center;
}
.logo {
  align-self: center;
}
.Menu ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.Menu ul li {
  list-style: none;
}
.Menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}
.logo {
  padding-left: 20px;
  font-size: 1.3rem;
}
.image {
  align-self: center;
  justify-self: right;
}
.Heading-text {
  font-size: 3.5rem;
  font-family: "Tilt Warp", cursive;
}
.Heading-para {
  font-size: 1.3rem;
  font-family: "Dosis", sans-serif;
}
.text {
  align-self: center;
  padding-left: 40px;
}
.image1 {
  right: 0;
}
.content {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  height: 80vh;
  width: 100%;
}
.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.btn1 {
  width: 180px;
  height: 50px;
  background-color: rgb(45, 194, 82);
  border: transparent;
  border-radius: 7px;
  transition: all 0.3s;
  color: white;
}
.btn1:hover {
  color: rgb(45, 194, 82);
}
.btn1:hover {
  background-color: white;
  border: 1px solid rgb(45, 194, 82);
}
.btn2 {
  background-color: transparent;
  width: 180px;
  height: 50px;
  color: white;
  text-align: center;
  border: transparent;
  border: 1px solid rgb(80, 184, 106);
  border-radius: 7px;
  transition: all 0.3s;
  text-decoration: none;
  color: rgb(45, 194, 82);
}
.alert-warning {
  position: absolute;
  top: 0;
  width: 30%;
}
.btn2:hover {
  color: white;
}
.btn2:hover {
  background-color: rgb(45, 194, 82);
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: center;
}
.card-body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: "Mukta", sans-serif;
}
.flex-ca {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 67px;
  row-gap: 10px;
}
.flex-cate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.card {
  border-radius: 7px;
}
.card a {
  text-decoration: none;
  color: black;
}
.Recipe-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  width: 100%;
}
.ingredients {
  display: flex;
  gap: 100px;
}
.img-Recipe {
  justify-content: center;
  display: grid;
  flex-direction: column;
  margin-right: 34px;
  margin-top: 30px;
}
.buttons-Recipes {
  justify-self: center;
}
.img-Recipe img {
  justify-self: center;
  align-self: center;
}
.Recipe-Main {
  height: auto;
  width: 85%;
  background-color: rgb(34, 42, 61);
  color: white;
}
.method {
  margin-left: 124px;
}
.Info-Recipe {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
}
.Info-Recipe h5 {
  font-family: "Mukta", sans-serif;
}
.Info-Recipe h2 {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
}
.ingredients ul li {
  list-style: none;
  font-size: 1.1rem;
  font-family: "Mukta", sans-serif;
}
.ingredients ul {
  padding-left: 0px;
}
.buttons-nav {
  display: flex;
  gap: 40px;
  align-self: center;
  justify-self: center;
}
.btn-nav {
  width: 100px;
  height: 50px;
  background-color: rgb(45, 194, 82);
  border: transparent;
  border-radius: 7px;
  transition: all 0.3s;
  color: white;
}
.btn-nav:hover {
  color: rgb(45, 194, 82);
}
.btn-nav:hover {
  background-color: white;
  border: 1px solid rgb(45, 194, 82);
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(159, 160, 160, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.wrapper span {
  position: absolute;
  top: 75px;
  font-family: "Lato";
  font-size: 20px;
  letter-spacing: 12px;
  color: white;
  left: 15%;
}
.profile {
  display: flex;
  gap: 50px;
  align-items: center;
}
.btn-nav-auth {
  width: 100px;
  height: 50px;
  background-color: #3f9551;
  border: transparent;
  border-radius: 7px;
  transition: all 0.3s;
  color: white;
}
.btn-nav-auth:hover {
  color: #3f9551;
}
.btn-nav-auth:hover {
  background-color: white;
  border: 1px solid #3f9551;
}

* {
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: black;
  height: 100vh;
  width: 20%;
  color: white;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  font-family: "Inter", sans-serif;
  background-color: rgb(14, 18, 24);
}
.menu {
  align-self: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 40px;
}
.Recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.1rem;
  width: 80%;
}
.Saved {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.1rem;
}
.svg {
  justify-self: right;
  align-self: center;
}
.text {
  justify-self: center;
  align-self: center;
}
.Profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  font-size: 1.1rem;
}
.SideScreen {
  height: 100%;
  width: 83%;
  background-color: rgb(34, 42, 61);
}
.Menu_container {
  height: 100vh;
  width: 83%;
  display: flex;
  color: white;
  background-color: rgb(34, 42, 61);
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.pic-right {
  align-self: top;
}
.pic-right img {
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
}
.search-bar input {
  background-color: transparent;
  width: 100%;
  border: none;
  height: 50px;
  font-size: 1rem;
  color: black;
}
.search-bar input:focus {
  border: transparent;
  outline: none;
}
.search-bar input::placeholder {
  color: black;
}
.search-bar {
  width: 60%;
  height: 50px;
  background-color: rgb(152, 152, 153);
  display: flex;
  align-items: center;
  gap: 30px;
  justify-self: center;
  padding-left: 20px;
  border: transparent;
  border-radius: 20px;
  margin-top: 20px;
}
.left-uper {
  height: 56vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Text {
  margin-left: 38px;
}
@media screen and (min-width:700px) {
  .img-Recipe {
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 50px;
  }
  .Text{
    position: fixed;
  top: 180px;
  width: 600px;
  }
}
.Text h2 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;

  color: white;
}
.Text p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-top: 20px;
  color: white;
}
.Lower-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 44vh;
  width: 100%;
}
.button button {
  width: 180px;
  height: 50px;
  background-color: rgb(85, 85, 87);
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  border: transparent;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn1 svg {
  margin-right: 15px;
}
#btn2 svg {
  margin-left: 15px;
}
.left-lower {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.right-lower {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bdajs {
  background-color: rgb(255, 174, 0);
}
.btn-menu {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: black;
  height: 100vh;
  width: 20%;
  color: white;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  font-family: "Inter", sans-serif;
  background-color: rgb(14, 18, 24);
}
.menu {
  align-self: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 40px;
}
.Recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.1rem;
  width: 80%;
}
.Saved {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.1rem;
}
.svg {
  justify-self: right;
  align-self: center;
}
.text {
  justify-self: center;
  align-self: center;
}
.Profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  font-size: 1.1rem;
}
.SideScreen {
  height: 100vh;
  width: 83%;
  background-color: rgb(34, 42, 61);
}
.flex {
  display: flex;
}
.logo {
  justify-self: center;
  font-size: 1.3rem;
  margin-top: 30px;
  display: flex;
flex-direction: column;
align-items: center;
}
.profile-pic {
  background-color: #c0c0c0;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Name {
  text-align: center;
  margin-top: 20px;
}
.Upper-part {
  width: 100%;
  height: 56vh;
}
.pic-right {
  align-self: top;
}
.pic-right img {
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
}
.search-bar input {
  background-color: transparent;
  width: 100%;
  border: none;
  height: 50px;
  font-size: 1rem;
  color: black;
}
.search-bar input:focus {
  border: transparent;
  outline: none;
}
.search-bar input::placeholder {
  color: black;
}
.search-bar {
  width: 60%;
  height: 50px;
  background-color: rgb(152, 152, 153);
  display: flex;
  align-items: center;
  justify-self: center;
  padding-left: 20px;
  border: transparent;
  border-radius: 20px;
}
.left-uper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 56vh;
}
.Text h2 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;

  color: white;
}
.Text p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-top: 20px;
  color: white;
}
.Lower-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 44vh;
  width: 100%;
}
.button button {
  width: 180px;
  height: 50px;
  background-color: rgb(85, 85, 87);
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  border: transparent;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn1 svg {
  margin-right: 15px;
}
#btn2 svg {
  margin-left: 15px;
}
.left-lower {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.right-lower {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bdajs {
  background-color: rgb(255, 174, 0);
}
.flex-lower {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.menu p a {
  color: white;
  text-decoration: none;
}
/* media queries */
@media screen and (max-width: 700px) {
  .button-div{
    display: none;
  }
  .sidebar {
    display: none;
  }
  .pic-right {
    display: none;
  }
  .SideScreen {
    width: 100%;
    height: auto;
  }
  .left-lower {
    margin-left: 0px;
  }
  .Text {
    margin-left: 10px;
  }
  .search-bar {
    width: 80%;
  }
  .Lower-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .right-lower {
    display: none;
  }
  .Upper-part {
    height: auto;
    display: flex;
  }
  .flex-lower {
    flex-direction: column;
  }
  .smthsmth {
    margin-left: 0px;
  }
  .flex-ca {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .Menu_container {
    width: 100%;
    height: auto;
  }
  .flex-cate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Recipe-Main {
    width: 100%;
  }
  .buttons-Recipes .btn1 {
    display: none;
  }
  .method {
    margin-left: 0px;
  }
  .img-Recipe {
    display: none;
  }
  .Recipe-grid {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .Info-Recipe h5 {
    font-size: 1rem;
  }
  .method h5 {
    font-size: 1.1rem;
  }
  .login {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    left: 50%;
  }
  .put{
    width: 80%;
  }

  .main-login {
    width: 100%;
    border-radius: 5px;
  }
  .banner {
    display: none;
  }
  .main-login h1 {
    font-size: 25px;
  }
  .facebook {
    font-size: 13px;
  }
  .login {
    margin-top: 0px;
  }
  .dropdown{
    width: 77%;
    overflow-y: scroll;
    z-index: 999;
    border: 1px solid rgb(14, 18, 24);
    border-radius: 11px;
  }
  .left-uper{
    overflow: hidden;
  }
  .Text{
    position: absolute;
top: 28%;
  }

}
#bhde{
  color: black;
}
.dropdown{
  height:auto;
  width:60%;
  background:rgb(14, 18, 24);
  z-index:999
}
.responsive-buttons {
  height: 15vh;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}
.responsive-btn {
  width: 100px;
  height: 50px;
  background-color: rgb(45, 194, 82);
  border: transparent;
  border-radius: 7px;
  transition: all 0.3s;
  color: white;
}
.responsive-btn-hover{
  width: 100px;
  height: 50px;
  background-color: rgb(45, 194, 82);
  border: transparent;
  border-radius: 7px;
  transition: all 0.3s;
  color: white;
}
.responsive-btn-hover:hover {
  background-color: transparent;
  color: rgb(45, 194, 82);
  border: 2px solid rgb(45, 194, 82);
}
.wrapper-int {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: auto;
  height: 130px;
  background-color: rgb(14, 18, 24);
  flex-direction: row;
  border: 2px solid rgb(14, 18, 24);
  border-radius: 11px;
}
.left-wrapper {
  align-self: center;
  padding-left: 20px;
}
.left-wrapper img {
  border: 2px solid transparent;
  border-radius: 20px;
}
.right-wrapper {
  align-self: center;
  justify-self: center;
}

.responsive-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  align-items: center;
}
.kuch-aur {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-self: center;
}
.put::placeholder {
  color: red;
}
#main-content {
  display: flex;
  width: 50px;
  height: 50px;
  background: transparent;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#main-content h1 {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0 0;
  color: #888;
}
#main-contenta {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #008a68;
}
svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}
svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}
svg #main-circ {
  transform-origin: 29.5px 29.5px;
}
#checkbox {
  display: none;
}
#checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}
#checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}
#checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    strokeWidth: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    strokeWidth: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    strokeWidth: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    strokeWidth: 0;
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.Search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
















#checkbox1 {
  display: none;
}
#checkbox1:checked + label svg #heart {
  transform: scale(0.2);
  fill: #c0c0c0;
  animation: animateHeart 0.3s linear forwards 0.25s;
}
#checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}
#checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}
@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #c0c0c0;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #c0c0c0;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #c0c0c0;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    strokeWidth: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    strokeWidth: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    strokeWidth: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    strokeWidth: 0;
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.select-file-btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.select-file-btn:hover {
  background-color: #0062cc;
}

.file-input {
  display: none;
}
